@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  color: #000;
  background-color: #fff;
  font-family: "Pretendard-Regular", Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

em {
  font-style: normal;
}

/* 랜딩페이지 그라데이션 텍스트 */
@layer utilities {
  .gradient-text {
    background: linear-gradient(90.99deg, #6d6afe 0.12%, #6ae3fe 101.84%);
    background-clip: text;
    color: transparent;
  }

  .fixed-bottom {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
}

input {
  outline: none;
}
